<div class="<%= @classes if @classes.present? %>">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= @project.name %></p>
    </header>
    <div class="card-content">
      <div class="content">
        <span class="is-size-7-mobile">Creado en <%= l(@project.created_at, format: :date) %></span>
        <br />
        <span class="is-size-7-mobile px-2 py-1 has-background-info-light has-text-info has-text-weight-semibold border-radius-5"><%= t("activerecord.attributes.project.project_type_enum.#{@project.project_type}") %></span>
      </div>
    </div>
    <footer class="card-footer">
      <% if @edit_path.present? %>
        <%#= link_to "Editar", @edit_path, class: "card-footer-item has-background-success-light" %>
        <%= link_to_sheet_modal @edit_path, class: "card-footer-item has-background-success-light" do %>
          Editar
        <% end %>
      <% end %>
      
      <% if @delete_path.present? %>
        <%= link_to "Eliminar", @delete_path,
          method: :delete,
          class: "card-footer-item has-background-danger-light",
          form: {
            data: {
              turbo: true,
              turbo_confirm: "¿Estas seguro?"
            }
          } %>
      <% end %>
    </footer>
  </div>
</div>
