<tr id="<%= dom_id(project) %>">
  <th><%= project.name %></th>
  <th><%= project.description %></th>
  <th><%= t("activerecord.attributes.project.project_type_enum.#{project.project_type}") %></th>
  <th>
    <div class="is-flex">
      <%= link_to "Ver", project_path(project), class: "button is-link mr-2" %>
      <%= link_to_modal edit_project_path(project), class: "button is-info mr-2" do %>
        Editar
      <% end %>
      <%= button_to "Eliminar", project_path(project), method: :delete, class: "button is-danger", data: { turbo_confirm: "¿Estas seguro?" } %>
    </div>
  </th>
</tr>
