<!DOCTYPE html>
<html>
  <head>
    <title>Pomoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/066d6eefeb.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="<%= "container" if @container %> <%= "is-fluid px-3" if browser.device.mobile? %> mt-5" data-controller="bottom-sheet-modal modal">
      <%= render "shared/flash" %>
      <div id="turbo-flash-message"></div>
      <%= yield %>

      <%= render "shared/modal" %>
    </div>
  </body>
</html>
