<!DOCTYPE html>
<html>
  <head>
    <title>Pomoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/066d6eefeb.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="<%= "container" if @container %> mt-5">
      <%= render "shared/flash" %>
      <div id="turbo-flash-message"></div>
      <%= yield %>

      <div class="modal" id="turbo-modal" data-controller="modal">
        <div class="modal-background" data-action="click->modal#close"></div>
        <div class="modal-card">
          <%= turbo_frame_tag "modal" %>
        </div>
        <button class="modal-close is-large" aria-label="close" data-action="modal#close"></button>
      </div>
    </div>
  </body>
</html>
